@charset "UTF-8";
@font-face {
  font-family: "mainFont";
  src: url("./fonts/MailSansRoman-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "mainFont", sans-serif !important;
}

.navbar {
  background-color: #45cea2;
  max-height: 80px;
}

.navbar-brand {
  color: black !important;
}

.nav-link {
  color: black !important;
  margin-right: 20px;
  font-size: 20px;
}
.navbar-logo {
  margin-right: 5px;
  height: 35px;
}
.btn-login {
  color: black !important;
  font-size: 20px;
}

.navbar__title {
  font-size: 30px;
  color: black !important;
}
.big-image {
  background-size: 1949px 848px;
}
.main-block__title {
  padding-bottom: 20px;
  font-size: 50px;
  padding-top: 100px;
}
.main-block__text {
  font-size: 18px;
  margin-bottom: 40px;
}
.main-block__authorization {
  flex-direction: column;
  row-gap: 30px;
}
.main-block__login {
  font-size: 19px;
  border: 0cap;
  padding-top: 21px;
  padding-bottom: 21px;
  max-width: 250px;
}
.main-block__register {
  max-width: 56px;
  padding-left: 60px;
  text-decoration: none;
  color: black;
  font-size: 19px;
  padding-bottom: 250px;
}
@media (max-width: 576px) {
  .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .nav-item {
    margin-bottom: 10px;
  }
}
